{% extends 'index.html' %}

{% block content %}
<div style="margin-top: 134px;">
    <h1 class="text-big">{% block title %}Một số biểu mẫu hành chính {% endblock %}</h1>
    <ol type="1" class="text-regular" style="margin-left: 200px">
        <li><a href="https://docs.google.com/document/d/1z4GrF_kFKVURcz3T6shS158J3N5Vp6BO/edit">Mẫu tờ khai đăng ký giám hộ</a></li>
        <li><a href="https://docs.google.com/document/d/1Lvy9V3SuvraNlYlAO4OzBmFhSqgSVp1f/edit">Mẫu đơn đăng ký kết hôn</a></li>
        <li><a href="https://docs.google.com/document/d/1UMG_sGwWiqMwrKxwnYbTKBHD-DxbJ6yR/edit">Giấy đề nghị xét duyệt bổ sung hộ nghèo, cận nghèo</a></li>
        <li><a href="https://docs.google.com/document/d/1aeCwTsjIpXGGHPHPY7WxvvGVljBhTluk/edit">Mẫu số 1 Giấy khai đăng ký xe</a></li>
        <li><a href="https://docs.google.com/document/d/15ss1yEHvJhHImA-nlRgdTDCurEzn0bn0/edit">Đơn khiếu nại</a></li>
        <li><a href="https://docs.google.com/document/d/1U7dihwJ1GlzQYsVwnCveIL02A0yev2De/edit">Giấy ủy quyền khiếu nại</a></li>
        <li><a href="https://drive.google.com/file/d/1ozI1PqgY_XxEKUHIQroMaeir6p8lJt6O/view">Mẫu Đơn xin xác nhận tạm trú 2022</a></li>
        <li><a href="https://drive.google.com/file/d/1dqKTmbKURbkwd8JLGg3B-ICX6o_FdBGI/view">Mẫu Đơn xin nhập hộ khẩu</a></li>
    </ol>
</div>
    
{% endblock %}